{% include 'header.php' %}
<h2>Welkom</h2>
<h3>{{message}}</h3>
<a href="login.php" class="admin">Inloggen</a>
<a href="register.php" class="admin">Registreren</a>
<a href="shop.php" class="admin">Bestellen</a></body></html>
