{% include 'header.php' %}
 <section>
    <p>Welkom {{voornaam}}! U bent succesvol Ingelogd.</p>
    <a href="shop.php">Bestellen</a>
    <a href="login.php?action=logout">Uitloggen</a>
    </section>
</body>
</html>