{% include 'header.php' %}
    <section>
    <p>U bent succesvol geregistreerd. Login en plaats uw bestelling.</p>
    <p>Uw wachtwoord: {{wachtwoord}}</p>
    <a href="login.php">Inloggen</a>
    </section>
</body>
</html>