{% include 'header.php' %}
 <section>
    <p>Uw bestelling is geplaatst</p>
    <a href="shop.php">Bestellen</a>
    <a href="overzicht.php">Mijn bestellingen</a>
    <a href="login.php?action=logout">Uitloggen</a>
    </section>
</body>
</html>